# **Part I: Data Preprocessing**

## Goal: Understand how to prepare data for analysis. Familiarize with the World Development Indicators dataset and reshape it into panel data.

# **World Development Indicators**

>https://datatopics.worldbank.org/world-development-indicators/
<img src="Data/WDIfigure.jpg" alt="localImage" style="width: 1200px; height: auto;" />

## Panel data, also known as longitudinal data or cross-sectional time series data, is a type of data that combines both cross-sectional and time series dimensions. 
### What does panel data looks like?

<img src="Data/paneldata.jpg" alt="localImage" style="width: 600px; height: auto;" />

# Q1 How to read the CSV file and name the dataframe as df?

In [1]:
import pandas as pd

# Load the dataset
from pathlib import Path

df = pd.read_csv(
    Path.home()
    / "OneDrive"
    / "Big Data Analysis"
    / "01 WDI data analysis"
    / "Data"
    / "WDICSV.csv"
)

# df = pd.read_csv('path_to_your_file/WDICSV.csv')

### If the file format is xlsx, please use read_excel().
# df = pd.read_excel('path_to_your_file/WDICSV.xlsx')

df

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
0,Africa Eastern and Southern,AFE,Access to clean fuels and technologies for coo...,EG.CFT.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,18.001597,18.558234,19.043572,19.586457,20.192064,20.828814,21.372164,22.100884,NaN,NaN
1,Africa Eastern and Southern,AFE,Access to clean fuels and technologies for coo...,EG.CFT.ACCS.RU.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,7.096003,7.406706,7.666648,8.020952,8.403358,8.718306,9.097176,9.473374,NaN,NaN
2,Africa Eastern and Southern,AFE,Access to clean fuels and technologies for coo...,EG.CFT.ACCS.UR.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,38.488233,38.779953,39.068462,39.445526,39.818645,40.276374,40.687817,41.211606,NaN,NaN
3,Africa Eastern and Southern,AFE,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,33.922276,38.859598,40.223744,43.035073,44.390861,46.282371,48.127211,48.801258,50.668330,NaN
4,Africa Eastern and Southern,AFE,"Access to electricity, rural (% of rural popul...",EG.ELC.ACCS.RU.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,16.527554,24.627753,25.432092,27.061929,29.154282,31.022083,32.809138,33.783960,35.375216,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
403251,Zimbabwe,ZWE,Women who believe a husband is justified in be...,SG.VAW.REFU.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,14.500000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
403252,Zimbabwe,ZWE,Women who were first married by age 15 (% of w...,SP.M15.2024.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,3.700000,NaN,NaN,NaN,5.400000,NaN,NaN,NaN,NaN,NaN
403253,Zimbabwe,ZWE,Women who were first married by age 18 (% of w...,SP.M18.2024.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,32.400000,NaN,NaN,NaN,33.700000,NaN,NaN,NaN,NaN,NaN
403254,Zimbabwe,ZWE,Women's share of population ages 15+ living wi...,SH.DYN.AIDS.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,59.740456,59.888983,60.053623,60.216147,60.377610,60.551609,60.693180,60.825294,NaN,NaN
403255,Zimbabwe,ZWE,Young people (ages 15-24) newly infected with HIV,SH.HIV.INCD.YG,NaN,NaN,NaN,NaN,NaN,NaN,...,16000.000000,14000.000000,11000.000000,8400.000000,6900.000000,5900.000000,5200.000000,4900.000000,NaN,NaN

In [2]:
### Check the first or last few rows.
## Check the first 5 rows.
df.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
0,Africa Eastern and Southern,AFE,Access to clean fuels and technologies for coo...,EG.CFT.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,18.001597,18.558234,19.043572,19.586457,20.192064,20.828814,21.372164,22.100884,NaN,NaN
1,Africa Eastern and Southern,AFE,Access to clean fuels and technologies for coo...,EG.CFT.ACCS.RU.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,7.096003,7.406706,7.666648,8.020952,8.403358,8.718306,9.097176,9.473374,NaN,NaN
2,Africa Eastern and Southern,AFE,Access to clean fuels and technologies for coo...,EG.CFT.ACCS.UR.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,38.488233,38.779953,39.068462,39.445526,39.818645,40.276374,40.687817,41.211606,NaN,NaN
3,Africa Eastern and Southern,AFE,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,33.922276,38.859598,40.223744,43.035073,44.390861,46.282371,48.127211,48.801258,50.668330,NaN
4,Africa Eastern and Southern,AFE,"Access to electricity, rural (% of rural popul...",EG.ELC.ACCS.RU.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,16.527554,24.627753,25.432092,27.061929,29.154282,31.022083,32.809138,33.783960,35.375216,NaN

In [3]:
## Check the last 3 rows.
df.tail(3)

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
403253,Zimbabwe,ZWE,Women who were first married by age 18 (% of w...,SP.M18.2024.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,32.400000,NaN,NaN,NaN,33.70000,NaN,NaN,NaN,NaN,NaN
403254,Zimbabwe,ZWE,Women's share of population ages 15+ living wi...,SH.DYN.AIDS.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,59.740456,59.888983,60.053623,60.216147,60.37761,60.551609,60.69318,60.825294,NaN,NaN
403255,Zimbabwe,ZWE,Young people (ages 15-24) newly infected with HIV,SH.HIV.INCD.YG,NaN,NaN,NaN,NaN,NaN,NaN,...,16000.000000,14000.000000,11000.000000,8400.000000,6900.00000,5900.000000,5200.00000,4900.000000,NaN,NaN

# Q2 What is the type of the DataFrame?

## In a pandas DataFrame, there are several data types that you can encounter. The main types of data include:


### 1. Float: Decimal numbers (e.g., float32, float64).
### 2. Object: Used for strings or mixed types. This is the default type for text data.
### 3. Integer: Whole numbers, which can be of different sizes (e.g., int32, int64).
### 4. Boolean: Represents True or False values.
### 5. Datetime: Used for date and time data (e.g., datetime64).
### 6. Timedelta: Represents differences in time (duration).

# Q3 How many columns and rows?

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 403256 entries, 0 to 403255
Data columns (total 69 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Country Name    403256 non-null  object
 1   Country Code    403256 non-null  object
 2   Indicator Name  403256 non-null  object
 3   Indicator Code  403256 non-null  object
 4   1960            37914 non-null   float64
 5   1961            43031 non-null   float64
 6   1962            44316 non-null   float64
 7   1963            45250 non-null   float64
 8   1964            45752 non-null   float64
 9   1965            47835 non-null   float64
 10  1966            47863 non-null   float64
 11  1967            48514 non-null   float64
 12  1968            49128 non-null   float64
 13  1969            49910 non-null   float64
 14  1970            73512 non-null   float64
 15  1971            78460 non-null   float64
 16  1972            80216 non-null   float64
 17  1973            80890 non-null   float64
 18  1974            82306 non-null   float64
 19  1975            86013 non-null   float64
 20  1976            88120 non-null   float64
 21  1977            90619 non-null   float64
 22  1978            91363 non-null   float64
 23  1979            92315 non-null   float64
 24  1980            96794 non-null   float64
 25  1981            98301 non-null   float64
 26  1982            98583 non-null   float64
 27  1983            99529 non-null   float64
 28  1984            100242 non-null  float64
 29  1985            102599 non-null  float64
 30  1986            103360 non-null  float64
 31  1987            103745 non-null  float64
 32  1988            103182 non-null  float64
 33  1989            104731 non-null  float64
 34  1990            130104 non-null  float64
 35  1991            138031 non-null  float64
 36  1992            141111 non-null  float64
 37  1993            143692 non-null  float64
 38  1994            146002 non-null  float64
 39  1995            152965 non-null  float64
 40  1996            160591 non-null  float64
 41  1997            154073 non-null  float64
 42  1998            163643 non-null  float64
 43  1999            162735 non-null  float64
 44  2000            198216 non-null  float64
 45  2001            185905 non-null  float64
 46  2002            195568 non-null  float64
 47  2003            196281 non-null  float64
 48  2004            199833 non-null  float64
 49  2005            209415 non-null  float64
 50  2006            210785 non-null  float64
 51  2007            213619 non-null  float64
 52  2008            213411 non-null  float64
 53  2009            216349 non-null  float64
 54  2010            226778 non-null  float64
 55  2011            223749 non-null  float64
 56  2012            225040 non-null  float64
 57  2013            223742 non-null  float64
 58  2014            229039 non-null  float64
 59  2015            231347 non-null  float64
 60  2016            229031 non-null  float64
 61  2017            228221 non-null  float64
 62  2018            226922 non-null  float64
 63  2019            222374 non-null  float64
 64  2020            216884 non-null  float64
 65  2021            212951 non-null  float64
 66  2022            192514 non-null  float64
 67  2023            150169 non-null  float64
 68  2024            72253 non-null   float64
dtypes: float64(65), object(4)
memory usage: 212.3+ MB

# Q4 What are the country names in this dataset?

In [5]:
unique_countries = df["Country Name"].unique()
unique_countries

print(', '.join(unique_countries))

Africa Eastern and Southern, Africa Western and Central, Arab World, Caribbean small states, Central Europe and the Baltics, Early-demographic dividend, East Asia & Pacific, East Asia & Pacific (excluding high income), East Asia & Pacific (IDA & IBRD countries), Euro area, Europe & Central Asia, Europe & Central Asia (excluding high income), Europe & Central Asia (IDA & IBRD countries), European Union, Fragile and conflict affected situations, Heavily indebted poor countries (HIPC), High income, IBRD only, IDA & IBRD total, IDA blend, IDA only, IDA total, Late-demographic dividend, Latin America & Caribbean, Latin America & Caribbean (excluding high income), Latin America & the Caribbean (IDA & IBRD countries), Least developed countries: UN classification, Low & middle income, Low income, Lower middle income, Middle East, North Africa, Afghanistan & Pakistan, Middle East, North Africa, Afghanistan & Pakistan (excluding high income), Middle East, North Africa, Afghanistan & Pakistan (IDA & IBRD), Middle income, North America, Not classified, OECD members, Other small states, Pacific island small states, Post-demographic dividend, Pre-demographic dividend, Small states, South Asia, South Asia (IDA & IBRD), Sub-Saharan Africa, Sub-Saharan Africa (excluding high income), Sub-Saharan Africa (IDA & IBRD countries), Upper middle income, World, Afghanistan, Albania, Algeria, American Samoa, Andorra, Angola, Antigua and Barbuda, Argentina, Armenia, Aruba, Australia, Austria, Azerbaijan, Bahamas, The, Bahrain, Bangladesh, Barbados, Belarus, Belgium, Belize, Benin, Bermuda, Bhutan, Bolivia, Bosnia and Herzegovina, Botswana, Brazil, British Virgin Islands, Brunei Darussalam, Bulgaria, Burkina Faso, Burundi, Cabo Verde, Cambodia, Cameroon, Canada, Cayman Islands, Central African Republic, Chad, Channel Islands, Chile, China, Colombia, Comoros, Congo, Dem. Rep., Congo, Rep., Costa Rica, Cote d'Ivoire, Croatia, Cuba, Curacao, Cyprus, Czechia, Denmark, Djibouti, Dominica, Dominican Republic, Ecuador, Egypt, Arab Rep., El Salvador, Equatorial Guinea, Eritrea, Estonia, Eswatini, Ethiopia, Faroe Islands, Fiji, Finland, France, French Polynesia, Gabon, Gambia, The, Georgia, Germany, Ghana, Gibraltar, Greece, Greenland, Grenada, Guam, Guatemala, Guinea, Guinea-Bissau, Guyana, Haiti, Honduras, Hong Kong SAR, China, Hungary, Iceland, India, Indonesia, Iran, Islamic Rep., Iraq, Ireland, Isle of Man, Israel, Italy, Jamaica, Japan, Jordan, Kazakhstan, Kenya, Kiribati, Korea, Dem. People's Rep., Korea, Rep., Kosovo, Kuwait, Kyrgyz Republic, Lao PDR, Latvia, Lebanon, Lesotho, Liberia, Libya, Liechtenstein, Lithuania, Luxembourg, Macao SAR, China, Madagascar, Malawi, Malaysia, Maldives, Mali, Malta, Marshall Islands, Mauritania, Mauritius, Mexico, Micronesia, Fed. Sts., Moldova, Monaco, Mongolia, Montenegro, Morocco, Mozambique, Myanmar, Namibia, Nauru, Nepal, Netherlands, New Caledonia, New Zealand, Nicaragua, Niger, Nigeria, North Macedonia, Northern Mariana Islands, Norway, Oman, Pakistan, Palau, Panama, Papua New Guinea, Paraguay, Peru, Philippines, Poland, Portugal, Puerto Rico (US), Qatar, Romania, Russian Federation, Rwanda, Samoa, San Marino, Sao Tome and Principe, Saudi Arabia, Senegal, Serbia, Seychelles, Sierra Leone, Singapore, Sint Maarten (Dutch part), Slovak Republic, Slovenia, Solomon Islands, Somalia, South Africa, South Sudan, Spain, Sri Lanka, St. Kitts and Nevis, St. Lucia, St. Martin (French part), St. Vincent and the Grenadines, Sudan, Suriname, Sweden, Switzerland, Syrian Arab Republic, Tajikistan, Tanzania, Thailand, Timor-Leste, Togo, Tonga, Trinidad and Tobago, Tunisia, Turkiye, Turkmenistan, Turks and Caicos Islands, Tuvalu, Uganda, Ukraine, United Arab Emirates, United Kingdom, United States, Uruguay, Uzbekistan, Vanuatu, Venezuela, RB, Viet Nam, Virgin Islands (U.S.), West Bank and Gaza, Yemen, Rep., Zambia, Zimbabwe

# Q5 How many indicators and countries?

In [6]:
## Use nuique() to get the number of unique values.
df["Country Name"].nunique()
### There are 266 countries in the WDI dataset.

266

In [7]:
df["Indicator Name"].nunique()
### WDI dataset provides 1478 indicators.

1516

# Q6 How to drop and keep certain columns?

In [8]:
df.head(3)

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
0,Africa Eastern and Southern,AFE,Access to clean fuels and technologies for coo...,EG.CFT.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,18.001597,18.558234,19.043572,19.586457,20.192064,20.828814,21.372164,22.100884,NaN,NaN
1,Africa Eastern and Southern,AFE,Access to clean fuels and technologies for coo...,EG.CFT.ACCS.RU.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,7.096003,7.406706,7.666648,8.020952,8.403358,8.718306,9.097176,9.473374,NaN,NaN
2,Africa Eastern and Southern,AFE,Access to clean fuels and technologies for coo...,EG.CFT.ACCS.UR.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,38.488233,38.779953,39.068462,39.445526,39.818645,40.276374,40.687817,41.211606,NaN,NaN

In [9]:
###Drop the last column
df.drop(columns=["2024"])

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,Africa Eastern and Southern,AFE,Access to clean fuels and technologies for coo...,EG.CFT.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,17.488497,18.001597,18.558234,19.043572,19.586457,20.192064,20.828814,21.372164,22.100884,NaN
1,Africa Eastern and Southern,AFE,Access to clean fuels and technologies for coo...,EG.CFT.ACCS.RU.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,6.811504,7.096003,7.406706,7.666648,8.020952,8.403358,8.718306,9.097176,9.473374,NaN
2,Africa Eastern and Southern,AFE,Access to clean fuels and technologies for coo...,EG.CFT.ACCS.UR.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,38.152090,38.488233,38.779953,39.068462,39.445526,39.818645,40.276374,40.687817,41.211606,NaN
3,Africa Eastern and Southern,AFE,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,31.871956,33.922276,38.859598,40.223744,43.035073,44.390861,46.282371,48.127211,48.801258,50.668330
4,Africa Eastern and Southern,AFE,"Access to electricity, rural (% of rural popul...",EG.ELC.ACCS.RU.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,17.672943,16.527554,24.627753,25.432092,27.061929,29.154282,31.022083,32.809138,33.783960,35.375216
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
403251,Zimbabwe,ZWE,Women who believe a husband is justified in be...,SG.VAW.REFU.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,14.500000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
403252,Zimbabwe,ZWE,Women who were first married by age 15 (% of w...,SP.M15.2024.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,3.700000,NaN,NaN,NaN,5.400000,NaN,NaN,NaN,NaN
403253,Zimbabwe,ZWE,Women who were first married by age 18 (% of w...,SP.M18.2024.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,32.400000,NaN,NaN,NaN,33.700000,NaN,NaN,NaN,NaN
403254,Zimbabwe,ZWE,Women's share of population ages 15+ living wi...,SH.DYN.AIDS.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,59.606951,59.740456,59.888983,60.053623,60.216147,60.377610,60.551609,60.693180,60.825294,NaN
403255,Zimbabwe,ZWE,Young people (ages 15-24) newly infected with HIV,SH.HIV.INCD.YG,NaN,NaN,NaN,NaN,NaN,NaN,...,18000.000000,16000.000000,14000.000000,11000.000000,8400.000000,6900.000000,5900.000000,5200.000000,4900.000000,NaN

In [10]:
## Keep the certain columns
### For instance we want to keep the following three columns.
df[["Country Name", "Indicator Name", "2020"]]

,Country Name,Indicator Name,2020
0,Africa Eastern and Southern,Access to clean fuels and technologies for coo...,20.828814
1,Africa Eastern and Southern,Access to clean fuels and technologies for coo...,8.718306
2,Africa Eastern and Southern,Access to clean fuels and technologies for coo...,40.276374
3,Africa Eastern and Southern,Access to electricity (% of population),46.282371
4,Africa Eastern and Southern,"Access to electricity, rural (% of rural popul...",31.022083
...,...,...,...
403251,Zimbabwe,Women who believe a husband is justified in be...,NaN
403252,Zimbabwe,Women who were first married by age 15 (% of w...,NaN
403253,Zimbabwe,Women who were first married by age 18 (% of w...,NaN
403254,Zimbabwe,Women's share of population ages 15+ living wi...,60.551609
403255,Zimbabwe,Young people (ages 15-24) newly infected with HIV,5900.000000

# Q7 How to drop and keep certain rows?

In [11]:
## Delete specific rows based on the index

### In Pandas, an index is a fundamental component that 
### serves as a unique identifier for each row in a DataFrame or Series.

### In this dataset, the index ranges from 0 to 393147. 
### We can drop the first row by specifying index[0].

df.drop(df.index[0])

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
1,Africa Eastern and Southern,AFE,Access to clean fuels and technologies for coo...,EG.CFT.ACCS.RU.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,7.096003,7.406706,7.666648,8.020952,8.403358,8.718306,9.097176,9.473374,NaN,NaN
2,Africa Eastern and Southern,AFE,Access to clean fuels and technologies for coo...,EG.CFT.ACCS.UR.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,38.488233,38.779953,39.068462,39.445526,39.818645,40.276374,40.687817,41.211606,NaN,NaN
3,Africa Eastern and Southern,AFE,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,33.922276,38.859598,40.223744,43.035073,44.390861,46.282371,48.127211,48.801258,50.668330,NaN
4,Africa Eastern and Southern,AFE,"Access to electricity, rural (% of rural popul...",EG.ELC.ACCS.RU.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,16.527554,24.627753,25.432092,27.061929,29.154282,31.022083,32.809138,33.783960,35.375216,NaN
5,Africa Eastern and Southern,AFE,"Access to electricity, urban (% of urban popul...",EG.ELC.ACCS.UR.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,66.995442,68.859495,70.643950,71.519782,72.553573,74.054196,75.483124,75.847809,79.661103,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
403251,Zimbabwe,ZWE,Women who believe a husband is justified in be...,SG.VAW.REFU.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,14.500000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
403252,Zimbabwe,ZWE,Women who were first married by age 15 (% of w...,SP.M15.2024.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,3.700000,NaN,NaN,NaN,5.400000,NaN,NaN,NaN,NaN,NaN
403253,Zimbabwe,ZWE,Women who were first married by age 18 (% of w...,SP.M18.2024.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,32.400000,NaN,NaN,NaN,33.700000,NaN,NaN,NaN,NaN,NaN
403254,Zimbabwe,ZWE,Women's share of population ages 15+ living wi...,SH.DYN.AIDS.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,59.740456,59.888983,60.053623,60.216147,60.377610,60.551609,60.693180,60.825294,NaN,NaN
403255,Zimbabwe,ZWE,Young people (ages 15-24) newly infected with HIV,SH.HIV.INCD.YG,NaN,NaN,NaN,NaN,NaN,NaN,...,16000.000000,14000.000000,11000.000000,8400.000000,6900.000000,5900.000000,5200.000000,4900.000000,NaN,NaN

In [12]:
## Keep specific rows based on certain conditions
### Choose the country named United States
df_US = df[df["Country Name"] == "United States"]
df_US

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
386580,United States,USA,Access to clean fuels and technologies for coo...,EG.CFT.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,100.000000,100.00000,100.000000,100.00000,100.000000,100.000000,100.000000,100.000000,NaN,NaN
386581,United States,USA,Access to clean fuels and technologies for coo...,EG.CFT.ACCS.RU.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,100.000000,100.00000,100.000000,100.00000,100.000000,100.000000,100.000000,100.000000,NaN,NaN
386582,United States,USA,Access to clean fuels and technologies for coo...,EG.CFT.ACCS.UR.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,100.000000,100.00000,100.000000,100.00000,100.000000,100.000000,100.000000,100.000000,NaN,NaN
386583,United States,USA,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,100.000000,100.00000,100.000000,100.00000,100.000000,100.000000,100.000000,100.000000,100.0,NaN
386584,United States,USA,"Access to electricity, rural (% of rural popul...",EG.ELC.ACCS.RU.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,100.000000,100.00000,100.000000,100.00000,100.000000,100.000000,100.000000,100.000000,100.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
388091,United States,USA,Women who believe a husband is justified in be...,SG.VAW.REFU.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
388092,United States,USA,Women who were first married by age 15 (% of w...,SP.M15.2024.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
388093,United States,USA,Women who were first married by age 18 (% of w...,SP.M18.2024.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
388094,United States,USA,Women's share of population ages 15+ living wi...,SH.DYN.AIDS.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,22.151167,22.09307,22.052498,22.01594,21.974899,21.928043,21.931585,21.902132,NaN,NaN
388095,United States,USA,Young people (ages 15-24) newly infected with HIV,SH.HIV.INCD.YG,NaN,NaN,NaN,NaN,NaN,NaN,...,7400.000000,7000.00000,6600.000000,6500.00000,6200.000000,5900.000000,5600.000000,NaN,NaN,NaN

In [13]:
## How about two conditions? Use "&" to add more conditions.
df_US_gdp = df[
    (df["Country Name"] == "United States")
    #& (df["Indicator Name"] == "GDP per capita (current US$)")
]

df_US_gdp

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
386580,United States,USA,Access to clean fuels and technologies for coo...,EG.CFT.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,100.000000,100.00000,100.000000,100.00000,100.000000,100.000000,100.000000,100.000000,NaN,NaN
386581,United States,USA,Access to clean fuels and technologies for coo...,EG.CFT.ACCS.RU.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,100.000000,100.00000,100.000000,100.00000,100.000000,100.000000,100.000000,100.000000,NaN,NaN
386582,United States,USA,Access to clean fuels and technologies for coo...,EG.CFT.ACCS.UR.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,100.000000,100.00000,100.000000,100.00000,100.000000,100.000000,100.000000,100.000000,NaN,NaN
386583,United States,USA,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,100.000000,100.00000,100.000000,100.00000,100.000000,100.000000,100.000000,100.000000,100.0,NaN
386584,United States,USA,"Access to electricity, rural (% of rural popul...",EG.ELC.ACCS.RU.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,100.000000,100.00000,100.000000,100.00000,100.000000,100.000000,100.000000,100.000000,100.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
388091,United States,USA,Women who believe a husband is justified in be...,SG.VAW.REFU.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
388092,United States,USA,Women who were first married by age 15 (% of w...,SP.M15.2024.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
388093,United States,USA,Women who were first married by age 18 (% of w...,SP.M18.2024.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
388094,United States,USA,Women's share of population ages 15+ living wi...,SH.DYN.AIDS.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,22.151167,22.09307,22.052498,22.01594,21.974899,21.928043,21.931585,21.902132,NaN,NaN
388095,United States,USA,Young people (ages 15-24) newly infected with HIV,SH.HIV.INCD.YG,NaN,NaN,NaN,NaN,NaN,NaN,...,7400.000000,7000.00000,6600.000000,6500.00000,6200.000000,5900.000000,5600.000000,NaN,NaN,NaN

# Q8 How to reshape data?
## Pandas provides multiple methods like melt(), pivot_table(), stack(), unstack() ,etc to reshape data.
### https://pandas.pydata.org/pandas-docs/stable/user_guide/reshaping.html

## 1) melt(). This function is used to transform or reshape data from a wide format to a long format. It essentially unpivots the DataFrame, converting columns into rows.
### https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.melt.html#pandas.DataFrame.melt

### Key parameters:
#### id_vars: A list or tuple of column names to use as identifier variables. These columns will remain as columns in the resulting DataFrame.
#### value_vars: A list or tuple of column names to unpivot. These columns will be converted into a single column in the resulting DataFrame.
#### var_name: The name to use for the column that contains the variable names (default is 'variable').
#### value_name: The name to use for the column that contains the values (default is 'value').

In [14]:
df_gdp_melt = df_US_gdp.melt(
    id_vars=["Country Name", "Country Code", "Indicator Name", "Indicator Code"],
    value_name="GDP per capita (current US$)",
    var_name="Year",
).drop(columns=["Country Code", "Indicator Code"])
df_gdp_melt

### By using the melt() function, the DataFrame df_gdp_melt is now clean and in panel format. 
### It contains unique values for Country Name and Year.

,Country Name,Indicator Name,Year,GDP per capita (current US$)
0,United States,Access to clean fuels and technologies for coo...,1960,NaN
1,United States,Access to clean fuels and technologies for coo...,1960,NaN
2,United States,Access to clean fuels and technologies for coo...,1960,NaN
3,United States,Access to electricity (% of population),1960,NaN
4,United States,"Access to electricity, rural (% of rural popul...",1960,NaN
...,...,...,...,...
98535,United States,Women who believe a husband is justified in be...,2024,NaN
98536,United States,Women who were first married by age 15 (% of w...,2024,NaN
98537,United States,Women who were first married by age 18 (% of w...,2024,NaN
98538,United States,Women's share of population ages 15+ living wi...,2024,NaN
98539,United States,Young people (ages 15-24) newly infected with HIV,2024,NaN

In [27]:
!pip install linearmodels

Collecting linearmodels
  Obtaining dependency information for linearmodels from https://files.pythonhosted.org/packages/b2/2d/fa7774f1e340655cbb26dc2dd09e6e4e1e989ee05cc43395ed5e9e6fc83e/linearmodels-6.1-cp311-cp311-macosx_11_0_arm64.whl.metadata
  Downloading linearmodels-6.1-cp311-cp311-macosx_11_0_arm64.whl.metadata (7.9 kB)
Requirement already satisfied: numpy<3,>=1.22.3 in /Users/hanyu/.pyenv/versions/miniconda3-latest/envs/africa/lib/python3.11/site-packages (from linearmodels) (1.24.4)
Requirement already satisfied: pandas>=1.4.0 in /Users/hanyu/.pyenv/versions/miniconda3-latest/envs/africa/lib/python3.11/site-packages (from linearmodels) (2.0.3)
Requirement already satisfied: scipy>=1.8.0 in /Users/hanyu/.pyenv/versions/miniconda3-latest/envs/africa/lib/python3.11/site-packages (from linearmodels) (1.11.1)
Requirement already satisfied: statsmodels>=0.13.0 in /Users/hanyu/.pyenv/versions/miniconda3-latest/envs/africa/lib/python3.11/site-packages (from linearmodels) (0.14.0)
Requirement already satisfied: mypy-extensions>=0.4 in /Users/hanyu/.pyenv/versions/miniconda3-latest/envs/africa/lib/python3.11/site-packages (from linearmodels) (1.0.0)
Collecting Cython>=3.0.10 (from linearmodels)
  Obtaining dependency information for Cython>=3.0.10 from https://files.pythonhosted.org/packages/05/07/b4043fed60070ee21b0d9ff3a877d2ecdc79231e55119ce852b79b690306/cython-3.1.3-cp311-cp311-macosx_11_0_arm64.whl.metadata
  Downloading cython-3.1.3-cp311-cp311-macosx_11_0_arm64.whl.metadata (4.7 kB)
Collecting pyhdfe>=0.1 (from linearmodels)
  Obtaining dependency information for pyhdfe>=0.1 from https://files.pythonhosted.org/packages/2f/51/cb006fbc08c32f161035fb19ca718250eb5f6d0692ea6dcc1e62c3e556a2/pyhdfe-0.2.0-py3-none-any.whl.metadata
  Downloading pyhdfe-0.2.0-py3-none-any.whl.metadata (4.0 kB)
Collecting formulaic>=1.0.0 (from linearmodels)
  Obtaining dependency information for formulaic>=1.0.0 from https://files.pythonhosted.org/packages/dd/c4/7e791ff347c3f8eb394596d7a6e6e0a48ef12bbbc3fcc99240e36a6ddd01/formulaic-1.2.0-py3-none-any.whl.metadata
  Downloading formulaic-1.2.0-py3-none-any.whl.metadata (7.0 kB)
Collecting setuptools-scm[toml]<9.0.0,>=8.0.0 (from linearmodels)
  Obtaining dependency information for setuptools-scm[toml]<9.0.0,>=8.0.0 from https://files.pythonhosted.org/packages/ab/ac/8f96ba9b4cfe3e4ea201f23f4f97165862395e9331a424ed325ae37024a8/setuptools_scm-8.3.1-py3-none-any.whl.metadata
  Downloading setuptools_scm-8.3.1-py3-none-any.whl.metadata (7.0 kB)
Collecting interface-meta>=1.2.0 (from formulaic>=1.0.0->linearmodels)
  Obtaining dependency information for interface-meta>=1.2.0 from https://files.pythonhosted.org/packages/02/3f/a6ec28c88e2d8e54d32598a1e0b5208a4baa72a8e7f6e241beab5731eb9d/interface_meta-1.3.0-py3-none-any.whl.metadata
  Downloading interface_meta-1.3.0-py3-none-any.whl.metadata (6.7 kB)
Collecting narwhals>=1.17 (from formulaic>=1.0.0->linearmodels)
  Obtaining dependency information for narwhals>=1.17 from https://files.pythonhosted.org/packages/7d/81/1cf7a468ef2f8e88266d5c3e5ab026a045aa76150e6640bfe9c5450a8c11/narwhals-2.3.0-py3-none-any.whl.metadata
  Downloading narwhals-2.3.0-py3-none-any.whl.metadata (11 kB)
Requirement already satisfied: typing-extensions>=4.2.0 in /Users/hanyu/.pyenv/versions/miniconda3-latest/envs/africa/lib/python3.11/site-packages (from formulaic>=1.0.0->linearmodels) (4.7.1)
Collecting wrapt>=1.0 (from formulaic>=1.0.0->linearmodels)
  Obtaining dependency information for wrapt>=1.0 from https://files.pythonhosted.org/packages/31/25/3e8cc2c46b5329c5957cec959cb76a10718e1a513309c31399a4dad07eb3/wrapt-1.17.3-cp311-cp311-macosx_11_0_arm64.whl.metadata
  Downloading wrapt-1.17.3-cp311-cp311-macosx_11_0_arm64.whl.metadata (6.4 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/hanyu/.pyenv/versions/miniconda3-latest/envs/africa/lib/python3.11/site-packages (from pandas>=1.4.0->linearmodels) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Users/hanyu/.pyenv/versions/miniconda3-latest/envs/africa/lib/python3.11/site-packages (from pandas>=1.4.0->linearmodels) (2023.3)
Requirement already satisfied: tzdata>=2022.1 in /Users/hanyu/.pyenv/versions/miniconda3-latest/envs/africa/lib/python3.11/site-packages (from pandas>=1.4.0->linearmodels) (2023.3)
Requirement already satisfied: packaging>=20 in /Users/hanyu/.pyenv/versions/miniconda3-latest/envs/africa/lib/python3.11/site-packages (from setuptools-scm[toml]<9.0.0,>=8.0.0->linearmodels) (23.1)
Requirement already satisfied: setuptools in /Users/hanyu/.pyenv/versions/miniconda3-latest/envs/africa/lib/python3.11/site-packages (from setuptools-scm[toml]<9.0.0,>=8.0.0->linearmodels) (68.0.0)
Requirement already satisfied: patsy>=0.5.2 in /Users/hanyu/.pyenv/versions/miniconda3-latest/envs/africa/lib/python3.11/site-packages (from statsmodels>=0.13.0->linearmodels) (0.5.3)
Requirement already satisfied: six in /Users/hanyu/.pyenv/versions/miniconda3-latest/envs/africa/lib/python3.11/site-packages (from patsy>=0.5.2->statsmodels>=0.13.0->linearmodels) (1.16.0)
Downloading linearmodels-6.1-cp311-cp311-macosx_11_0_arm64.whl (1.7 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.7/1.7 MB 173.4 kB/s eta 0:00:00m eta 0:00:01[36m0:00:01
Downloading cython-3.1.3-cp311-cp311-macosx_11_0_arm64.whl (2.9 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.9/2.9 MB 131.1 kB/s eta 0:00:00m eta 0:00:01[36m0:00:01
Downloading formulaic-1.2.0-py3-none-any.whl (117 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 117.2/117.2 kB 166.1 kB/s eta 0:00:00 kB/s eta 0:00:01:01
Downloading pyhdfe-0.2.0-py3-none-any.whl (19 kB)
Downloading interface_meta-1.3.0-py3-none-any.whl (14 kB)
Downloading narwhals-2.3.0-py3-none-any.whl (404 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 404.4/404.4 kB 291.7 kB/s eta 0:00:001m295.3 kB/s eta 0:00:01
Downloading wrapt-1.17.3-cp311-cp311-macosx_11_0_arm64.whl (38 kB)
Downloading setuptools_scm-8.3.1-py3-none-any.whl (43 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 43.9/43.9 kB 352.4 kB/s eta 0:00:001m361.0 kB/s eta 0:00:01
Installing collected packages: wrapt, setuptools-scm, narwhals, interface-meta, Cython, pyhdfe, formulaic, linearmodels
Successfully installed Cython-3.1.3 formulaic-1.2.0 interface-meta-1.3.0 linearmodels-6.1 narwhals-2.3.0 pyhdfe-0.2.0 setuptools-scm-8.3.1 wrapt-1.17.3

### In the last example, we used df_US_gdp, which contains only GDP per capita (current US$) for the United States. It could become more complicated if we add more variables. For instance, we can use df_US, which contains all the variables provided by the WDI.

In [15]:
df_US

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
386580,United States,USA,Access to clean fuels and technologies for coo...,EG.CFT.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,100.000000,100.00000,100.000000,100.00000,100.000000,100.000000,100.000000,100.000000,NaN,NaN
386581,United States,USA,Access to clean fuels and technologies for coo...,EG.CFT.ACCS.RU.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,100.000000,100.00000,100.000000,100.00000,100.000000,100.000000,100.000000,100.000000,NaN,NaN
386582,United States,USA,Access to clean fuels and technologies for coo...,EG.CFT.ACCS.UR.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,100.000000,100.00000,100.000000,100.00000,100.000000,100.000000,100.000000,100.000000,NaN,NaN
386583,United States,USA,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,100.000000,100.00000,100.000000,100.00000,100.000000,100.000000,100.000000,100.000000,100.0,NaN
386584,United States,USA,"Access to electricity, rural (% of rural popul...",EG.ELC.ACCS.RU.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,100.000000,100.00000,100.000000,100.00000,100.000000,100.000000,100.000000,100.000000,100.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
388091,United States,USA,Women who believe a husband is justified in be...,SG.VAW.REFU.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
388092,United States,USA,Women who were first married by age 15 (% of w...,SP.M15.2024.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
388093,United States,USA,Women who were first married by age 18 (% of w...,SP.M18.2024.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
388094,United States,USA,Women's share of population ages 15+ living wi...,SH.DYN.AIDS.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,22.151167,22.09307,22.052498,22.01594,21.974899,21.928043,21.931585,21.902132,NaN,NaN
388095,United States,USA,Young people (ages 15-24) newly infected with HIV,SH.HIV.INCD.YG,NaN,NaN,NaN,NaN,NaN,NaN,...,7400.000000,7000.00000,6600.000000,6500.00000,6200.000000,5900.000000,5600.000000,NaN,NaN,NaN

In [16]:
df_melt = df_US.melt(
    id_vars=["Country Name", "Country Code", "Indicator Name", "Indicator Code"],
    var_name="Year",
).drop(columns=["Country Code", "Indicator Code"])

### df_melt isn't a panel data we wanted, we want the Indicator Name listed by columns.
df_melt

,Country Name,Indicator Name,Year,value
0,United States,Access to clean fuels and technologies for coo...,1960,NaN
1,United States,Access to clean fuels and technologies for coo...,1960,NaN
2,United States,Access to clean fuels and technologies for coo...,1960,NaN
3,United States,Access to electricity (% of population),1960,NaN
4,United States,"Access to electricity, rural (% of rural popul...",1960,NaN
...,...,...,...,...
98535,United States,Women who believe a husband is justified in be...,2024,NaN
98536,United States,Women who were first married by age 15 (% of w...,2024,NaN
98537,United States,Women who were first married by age 18 (% of w...,2024,NaN
98538,United States,Women's share of population ages 15+ living wi...,2024,NaN
98539,United States,Young people (ages 15-24) newly infected with HIV,2024,NaN

## 2） pivot_table(). This function is used to create a pivot table from a DataFrame. It allows you to summarize and aggregate data based on one or more columns, providing insights into the relationships between different variables.
### https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.pivot_table.html#pandas.pivot_table

### key parameters:

#### data: The DataFrame to be used for creating the pivot table.
#### values: The column(s) to aggregate.
#### index: The column(s) to be used as the index of the resulting pivot table.
#### columns: The column(s) to be used as the columns of the resulting pivot table.
#### aggfunc: The aggregation function(s) to apply to the values. It can be a single function, a list of functions, or a dictionary mapping columns to functions.
#### fill_value: The value to replace missing values with (default is None).

In [17]:
df_pivottable = df_melt.pivot_table(
    values="value",
    index=["Country Name", "Year"],
    columns="Indicator Name",
)

df_pivottable.head()

### Now the variables in the Indicator Name are listed as columns. 
### However, it looks strange due to the multilevel index.

Indicator Name      Access to clean fuels and technologies for cooking (% of population)  \
Country Name  Year
United States 1960                                                NaN
              1961                                                NaN
              1962                                                NaN
              1963                                                NaN
              1964                                                NaN

Indicator Name      Access to clean fuels and technologies for cooking, rural (% of rural population)  \
Country Name  Year
United States 1960                                                NaN
              1961                                                NaN
              1962                                                NaN
              1963                                                NaN
              1964                                                NaN

Indicator Name      Access to clean fuels and technologies for cooking, urban (% of urban population)  \
Country Name  Year
United States 1960                                                NaN
              1961                                                NaN
              1962                                                NaN
              1963                                                NaN
              1964                                                NaN

Indicator Name      Access to electricity (% of population)  \
Country Name  Year
United States 1960                                      NaN
              1961                                      NaN
              1962                                      NaN
              1963                                      NaN
              1964                                      NaN

Indicator Name      Access to electricity, rural (% of rural population)  \
Country Name  Year
United States 1960                                                NaN
              1961                                                NaN
              1962                                                NaN
              1963                                                NaN
              1964                                                NaN

Indicator Name      Access to electricity, urban (% of urban population)  \
Country Name  Year
United States 1960                                                NaN
              1961                                                NaN
              1962                                                NaN
              1963                                                NaN
              1964                                                NaN

Indicator Name      Account ownership at a financial institution or with a mobile-money-service provider (% of population ages 15+)  \
Country Name  Year
United States 1960                                                NaN
              1961                                                NaN
              1962                                                NaN
              1963                                                NaN
              1964                                                NaN

Indicator Name      Account ownership at a financial institution or with a mobile-money-service provider, female (% of population ages 15+)  \
Country Name  Year
United States 1960                                                NaN
              1961                                                NaN
              1962                                                NaN
              1963                                                NaN
              1964                                                NaN

Indicator Name      Account ownership at a financial institution or with a mobile-money-service provider, male (% of population ages 15+)  \
Country Name  Year
United States 1960                                                NaN
              1961                                                NaN
              1962                                                NaN
              1963                                                NaN
              1964                                                NaN

Indicator Name      Account ownership at a financial institution or with a mobile-money-service provider, older adults (% of population ages 25+)  \
Country Name  Year
United States 1960                                                NaN
              1961                                                NaN
              1962                                                NaN
              1963                                                NaN
              1964                                                NaN

Indicator Name      ...  \
Country Name  Year  ...
United States 1960  ...
              1961  ...
              1962  ...
              1963  ...
              1964  ...

Indicator Name      Vulnerable employment, female (% of female employment) (modeled ILO estimate)  \
Country Name  Year
United States 1960                                                NaN
              1961                                                NaN
              1962                                                NaN
              1963                                                NaN
              1964                                                NaN

Indicator Name      Vulnerable employment, male (% of male employment) (modeled ILO estimate)  \
Country Name  Year
United States 1960                                                NaN
              1961                                                NaN
              1962                                                NaN
              1963                                                NaN
              1964                                                NaN

Indicator Name      Vulnerable employment, total (% of total employment) (modeled ILO estimate)  \
Country Name  Year
United States 1960                                                NaN
              1961                                                NaN
              1962                                                NaN
              1963                                                NaN
              1964                                                NaN

Indicator Name      Wage and salaried workers, female (% of female employment) (modeled ILO estimate)  \
Country Name  Year
United States 1960                                                NaN
              1961                                                NaN
              1962                                                NaN
              1963                                                NaN
              1964                                                NaN

Indicator Name      Wage and salaried workers, male (% of male employment) (modeled ILO estimate)  \
Country Name  Year
United States 1960                                                NaN
              1961                                                NaN
              1962                                                NaN
              1963                                                NaN
              1964                                                NaN

Indicator Name      Wage and salaried workers, total (% of total employment) (modeled ILO estimate)  \
Country Name  Year
United States 1960                                                NaN
              1961                                                NaN
              1962                                                NaN
              1963                                                NaN
              1964                                                NaN

Indicator Name      Water productivity, total (constant 2015 US$ GDP per cubic meter of total freshwater withdrawal)  \
Country Name  Year
United States 1960                                                NaN
              1961                                                NaN
              1962                                                NaN
              1963                                                NaN
              1964                                                NaN

Indicator Name      Women Business and the Law Index Score (scale 1-100)  \
Country Name  Year
United States 1960                                                NaN
              1961                                                NaN
              1962                                                NaN
              1963                                                NaN
              1964                                                NaN

Indicator Name      Women's share of population ages 15+ living with HIV (%)  \
Country Name  Year
United States 1960                                                NaN
              1961                                                NaN
              1962                                                NaN
              1963                                                NaN
              1964                                                NaN

Indicator Name      Young people (ages 15-24) newly infected with HIV
Country Name  Year
United States 1960                                                NaN
              1961                                                NaN
              1962                                                NaN
              1963                                                NaN
              1964                                                NaN

[5 rows x 1182 columns]

In [18]:
# How to get rid of multilevel index after using pivottable?

# After using reset_index, we can get rid of the multilevel index.
WDI_US_0 = df_pivottable.reset_index()

WDI_US_0

Indicator Name,Country Name,Year,Access to clean fuels and technologies for cooking (% of population),"Access to clean fuels and technologies for cooking, rural (% of rural population)","Access to clean fuels and technologies for cooking, urban (% of urban population)",Access to electricity (% of population),"Access to electricity, rural (% of rural population)","Access to electricity, urban (% of urban population)",Account ownership at a financial institution or with a mobile-money-service provider (% of population ages 15+),"Account ownership at a financial institution or with a mobile-money-service provider, female (% of population ages 15+)",...,"Vulnerable employment, female (% of female employment) (modeled ILO estimate)","Vulnerable employment, male (% of male employment) (modeled ILO estimate)","Vulnerable employment, total (% of total employment) (modeled ILO estimate)","Wage and salaried workers, female (% of female employment) (modeled ILO estimate)","Wage and salaried workers, male (% of male employment) (modeled ILO estimate)","Wage and salaried workers, total (% of total employment) (modeled ILO estimate)","Water productivity, total (constant 2015 US$ GDP per cubic meter of total freshwater withdrawal)",Women Business and the Law Index Score (scale 1-100),Women's share of population ages 15+ living with HIV (%),Young people (ages 15-24) newly infected with HIV
0,United States,1960,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,United States,1961,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,United States,1962,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,United States,1963,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,United States,1964,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60,United States,2020,100.0,100.0,100.0,100.0,100.0,100.0,NaN,NaN,...,2.997168,4.376881,3.755287,95.797646,91.968027,93.693363,44.382882,91.25,21.928043,5900.0
61,United States,2021,100.0,100.0,100.0,100.0,100.0,100.0,94.95,96.79,...,3.213774,4.534126,3.936626,95.512018,91.684526,93.416585,47.070289,91.25,21.931585,5600.0
62,United States,2022,100.0,100.0,100.0,100.0,100.0,100.0,NaN,NaN,...,3.038795,4.350350,3.755931,95.737994,92.040798,93.716431,NaN,91.25,21.902132,NaN
63,United States,2023,NaN,NaN,NaN,100.0,100.0,100.0,NaN,NaN,...,2.971181,4.234848,3.657899,95.847259,92.296723,93.917783,NaN,91.25,NaN,NaN
64,United States,2024,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
### However, in the new index, the first row named 'Indicator Name' should be empty. 
### Therefore, we use rename_axis to reset the index.
WDI_US = WDI_US_0.rename_axis("", axis=1)

WDI_US.head()

# Now, WDI_US is the panel data we wanted!

,Country Name,Year,Access to clean fuels and technologies for cooking (% of population),"Access to clean fuels and technologies for cooking, rural (% of rural population)","Access to clean fuels and technologies for cooking, urban (% of urban population)",Access to electricity (% of population),"Access to electricity, rural (% of rural population)","Access to electricity, urban (% of urban population)",Account ownership at a financial institution or with a mobile-money-service provider (% of population ages 15+),"Account ownership at a financial institution or with a mobile-money-service provider, female (% of population ages 15+)",...,"Vulnerable employment, female (% of female employment) (modeled ILO estimate)","Vulnerable employment, male (% of male employment) (modeled ILO estimate)","Vulnerable employment, total (% of total employment) (modeled ILO estimate)","Wage and salaried workers, female (% of female employment) (modeled ILO estimate)","Wage and salaried workers, male (% of male employment) (modeled ILO estimate)","Wage and salaried workers, total (% of total employment) (modeled ILO estimate)","Water productivity, total (constant 2015 US$ GDP per cubic meter of total freshwater withdrawal)",Women Business and the Law Index Score (scale 1-100),Women's share of population ages 15+ living with HIV (%),Young people (ages 15-24) newly infected with HIV
0,United States,1960,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,United States,1961,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,United States,1962,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,United States,1963,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,United States,1964,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
### Recheck the data types and find that the column 'Year' is of type object.
### However, an object type cannot be used in mathematical calculations or sorting.
WDI_US.dtypes

Country Name                                                                                         object
Year                                                                                                 object
Access to clean fuels and technologies for cooking (% of population)                                float64
Access to clean fuels and technologies for cooking, rural (% of rural population)                   float64
Access to clean fuels and technologies for cooking, urban (% of urban population)                   float64
                                                                                                     ...
Wage and salaried workers, total (% of total employment) (modeled ILO estimate)                     float64
Water productivity, total (constant 2015 US$ GDP per cubic meter of total freshwater withdrawal)    float64
Women Business and the Law Index Score (scale 1-100)                                                float64
Women's share of population ages 15+ living with HIV (%)                                            float64
Young people (ages 15-24) newly infected with HIV                                                   float64
Length: 1184, dtype: object

In [21]:
### So, the 'Year' column needs to be converted to an integer.
WDI_US["Year"] = WDI_US["Year"].astype(int)

WDI_US.dtypes

Country Name                                                                                         object
Year                                                                                                  int64
Access to clean fuels and technologies for cooking (% of population)                                float64
Access to clean fuels and technologies for cooking, rural (% of rural population)                   float64
Access to clean fuels and technologies for cooking, urban (% of urban population)                   float64
                                                                                                     ...
Wage and salaried workers, total (% of total employment) (modeled ILO estimate)                     float64
Water productivity, total (constant 2015 US$ GDP per cubic meter of total freshwater withdrawal)    float64
Women Business and the Law Index Score (scale 1-100)                                                float64
Women's share of population ages 15+ living with HIV (%)                                            float64
Young people (ages 15-24) newly infected with HIV                                                   float64
Length: 1184, dtype: object

# Q9 How to export data to csv?

In [22]:
WDI_US.to_csv(
    Path.home()
    / "OneDrive"
    / "Big Data Analysis"
    / "01 WDI data analysis"
    / "Data"
    / "WDI_US.csv",
    index=False,
)

### By setting index=False, we drop the index from the CSV file. 
## You can set it to True if you want to keep the index.

# Q10 How many missing values for each variable?
### isna(): This method checks each element in the WDI_US DataFrame for missing values (NaN). It returns a DataFrame of the same shape, where each element is either True (if the original value is NaN) or False (if the original value is not NaN).
### sum(): After checking for missing values, this method aggregates the results. By default, it sums along the columns (i.e., it counts the number of True values for each column). The result is a Series where the index is the column names of WDI_US, and the values are the counts of missing values (NaN) in each column.
### sort_values(ascending=True): This sorts the resulting Series by the count of missing values in ascending order. This means that columns with fewer missing values will appear first, and columns with more missing values will appear later.

In [23]:
WDI_US.isna()

,Country Name,Year,Access to clean fuels and technologies for cooking (% of population),"Access to clean fuels and technologies for cooking, rural (% of rural population)","Access to clean fuels and technologies for cooking, urban (% of urban population)",Access to electricity (% of population),"Access to electricity, rural (% of rural population)","Access to electricity, urban (% of urban population)",Account ownership at a financial institution or with a mobile-money-service provider (% of population ages 15+),"Account ownership at a financial institution or with a mobile-money-service provider, female (% of population ages 15+)",...,"Vulnerable employment, female (% of female employment) (modeled ILO estimate)","Vulnerable employment, male (% of male employment) (modeled ILO estimate)","Vulnerable employment, total (% of total employment) (modeled ILO estimate)","Wage and salaried workers, female (% of female employment) (modeled ILO estimate)","Wage and salaried workers, male (% of male employment) (modeled ILO estimate)","Wage and salaried workers, total (% of total employment) (modeled ILO estimate)","Water productivity, total (constant 2015 US$ GDP per cubic meter of total freshwater withdrawal)",Women Business and the Law Index Score (scale 1-100),Women's share of population ages 15+ living with HIV (%),Young people (ages 15-24) newly infected with HIV
0,False,False,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
1,False,False,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
2,False,False,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
3,False,False,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
4,False,False,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60,False,False,False,False,False,False,False,False,True,True,...,False,False,False,False,False,False,False,False,False,False
61,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
62,False,False,False,False,False,False,False,False,True,True,...,False,False,False,False,False,False,True,False,False,True
63,False,False,True,True,True,False,False,False,True,True,...,False,False,False,False,False,False,True,False,True,True
64,False,False,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True

In [24]:
WDI_US.isna().sum()

Country Name                                                                                         0
Year                                                                                                 0
Access to clean fuels and technologies for cooking (% of population)                                42
Access to clean fuels and technologies for cooking, rural (% of rural population)                   42
Access to clean fuels and technologies for cooking, urban (% of urban population)                   42
                                                                                                    ..
Wage and salaried workers, total (% of total employment) (modeled ILO estimate)                     32
Water productivity, total (constant 2015 US$ GDP per cubic meter of total freshwater withdrawal)    23
Women Business and the Law Index Score (scale 1-100)                                                11
Women's share of population ages 15+ living with HIV (%)                                            32
Young people (ages 15-24) newly infected with HIV                                                   53
Length: 1184, dtype: int64

In [25]:
isna_data = WDI_US.isna().sum().sort_values(ascending=True)
isna_data

Country Name                                                                                                                   0
Exports of goods and services (current LCU)                                                                                    0
General government final consumption expenditure (% of GDP)                                                                    0
Exports of goods and services (% of GDP)                                                                                       0
General government final consumption expenditure (current LCU)                                                                 0
                                                                                                                              ..
Completeness of birth registration, female (%)                                                                                64
Completeness of birth registration, male (%)                                                                                  64
Mortality rate attributed to household and ambient air pollution, age-standardized, female (per 100,000 female population)    64
Firms adopting energy management measures to reduce emissions (% of firms)                                                    64
Firms formally registered when operations started (% of firms)                                                                64
Length: 1184, dtype: int64

# **Panel data get!**
## Now we obtain the data for the United States and all variables provided by the WDI dataset, reshape the data into panel format, and count the number of missing values for all variables.